h3 {
    color: black;
    font-weight: 900;
    
}

body {
    margin:0px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

header{
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.336);
    background-color: #FF452B;
    z-index: 1;
}

.logo_header {
    margin-top: 12px;
    margin-left: 15px;
}

.title_page {
    margin-left: 1.5rem;
    font-family: sans-serif;
    color: #263238;
}

.body_main {
    background-color: #e9e9e9;
    padding-top: 80px;
    min-height: 90vh;
}

.number_pokemon {
    align-self: center;
    color: #6D6D6D;
    font-family: monospace;
    font-weight: bold;
    margin: 5px 0 5px 0;
    font-size: 16px;
    min-width: fit-content;
}

.title_pokemon {
    color: #FF452B;
    text-transform: capitalize;
    font-weight: 600;
    align-self: center;
    font-family: monospace;
    margin: 5px 0 5px 0;
    font-size: 18px;
}

.img_pokemon {
    height: 120px;
    width: 120px;
    align-self: center;
    margin-bottom: 5px;
}

.card_pokemon {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    height: 15rem;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.336) !important;
}

.list_pokemon_type {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2rem;
    justify-content: space-evenly;
    margin-top: 5px;
}

.pill_pokemon_type {
    background-color: white;
    width: 90px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    text-transform: capitalize;
    color: #607D8B;
    border: 1px solid  #ECEFF1;
}

.card_aside {
    display: flex;
    position: fixed;
    flex: 1;
    min-height: 80vh;
    min-width: 25vw;
    margin-top: 15px;
    margin-left: 3vw;
    padding: 10px;
}

.container_select_type{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.title_select_type {
    font-family: sans-serif;
    color: #FF452B;
    font-weight: bolder;
    margin-left: 0.5rem;
}

.body_detail_pokemon {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 1rem;
    background-color: white;
}

.pill_pokemon_ability {
    background-color: #ECEFF1;
    width: 90px;
    height: 20px;
    min-width: fit-content;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    text-transform: capitalize;
    color: #607D8B;
}

.text_align {
    text-align: center;
}

.container_pokemon_abilities {
    margin-top: 5px;
    margin-bottom: 5px;
}

.list_pokemon_stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2rem;
    justify-content: space-evenly;
    margin-top: 5px;
    padding-top: 5px;
    height: auto;
}

.item_pokemon_stats {
    color: rgb(0 0 0 / 54%);
    text-transform: capitalize;
    font-weight: 600;
    align-self: center;
    font-family: monospace;
    margin: 5px 0 5px 0;
    font-size: 14px;
}

.title_aside_pokemon {
    color: #263238;
    font-family: monospace;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.subtitle_aside_pokemon {
    color: #607D8B;
    font-family: monospace;
    font-size: 14px;
    text-align: center;
}

.container_defaultaside_pokemon {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}

.body_modal {
    width: 70vw;
    height: max-content;
}

.boton_close {
    justify-content: flex-end;
    display: flex;
    margin: 0px;
    font-family: fantasy;
}